@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/* button::-moz-focus-inner {
  border: 0;
} */
address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
/* :-moz-focusring {
  outline: 1px dotted ButtonText;
} */
/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container-center {
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-head a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 52px 64px 16px 0;
}

.logo-name {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  color: #1a1a1a;
  margin-left: 13px;
}

.logo-name span {
  display: block;
}

.time-send {
  margin: 59px 100px 23px 0;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 23.94px;
  white-space: nowrap;
}

.time-send span:first-child {
  background-color: #fecb24;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
  padding: 5px;
  border-radius: 4px;
}

.time-send span:nth-child(2) {
  display: block;
}

.list-head__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 71px;
}

.list-head__links li:not(:last-child) {
  margin-right: 44px;
}

.list-head__links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding: 10px;
}

.list-head__links h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #1a1a1a;
  margin-left: 8px;
}

.links-head {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.links-head:hover {
  background-color: #fecb24;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
  border-radius: 4px;
}

@media screen and (max-width: 1370px) {
  .list-products li:last-child {
    margin-left: 20% !important;
  }
}

@media screen and (max-width: 1250px) {
  .list-products li:last-child {
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 1180px) {
  .list-products li:last-child {
    margin-left: 10% !important;
  }
}

@media screen and (max-width: 1140px) {
  .list-products li:last-child {
    margin-left: 5% !important;
  }
  .time-send {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1090px) {
  .list-products li:last-child {
    margin-left: 1% !important;
  }
  .header-nav {
    margin-left: 120px !important;
  }
  .filter {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 1000px) {
  .header-nav {
    margin-left: 60px !important;
  }
}

@media screen and (max-width: 940px) {
  .header-nav {
    margin-left: 30px !important;
  }
}

@media screen and (max-width: 1110px) {
  .time-send {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .filter {
    padding: 24px 24px !important;
  }
}

@media screen and (max-width: 1130px) {
  .food-list li {
    width: 100px !important;
    height: 101px !important;
  }
}

@media screen and (max-width: 1073px) {
  .food-list li img {
    padding: 15px 0 0 25px !important;
  }
  .list-head__links li:not(:last-child) {
    margin-right: 12px;
  }
  .list-head__links h4 {
    display: none;
  }
  .time-send {
    margin-right: 280px;
  }
  .filter {
    display: none;
  }
  .classic-title {
    font-size: 40px !important;
    padding-bottom: 0 !important;
  }
  .firstly {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 1070px) {
  .card-info:not(:last-child) {
    margin-right: 20px !important;
  }
  .card-block {
    width: 202px;
  }
  .secondary {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 920px) {
  .time-send {
    margin-right: 180px;
  }
}

@media screen and (max-width: 820px) {
  .time-send {
    margin-right: 100px;
  }
}

@media screen and (max-width: 735px) {
  .time-send {
    display: none;
  }
  .list-head__links {
    margin-left: 250px;
  }
}

@media screen and (max-width: 675px) {
  .list-head__links {
    margin-left: 220px;
  }
}

@media screen and (max-width: 640px) {
  .list-head__links {
    margin-left: 200px;
  }
}

@media screen and (max-width: 620px) {
  .list-head__links {
    margin-left: 170px;
  }
}

@media screen and (max-width: 590px) {
  .list-head__links {
    margin-left: 100px;
  }
}

.header-nav {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 56%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  display: block;
  padding: 0 15px;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

@media screen and (max-width: 880px) {
  .sticky {
    overflow-x: scroll;
  }
  #element::-webkit-scrollbar {
    width: 7px;
    background-color: #b9b9b900;
  }
  #element::-webkit-scrollbar-thumb {
    background-color: #fecb2479;
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
  }
}

.filtres {
  background-color: #b9b9b9a6;
  border-radius: 4px;
  padding: 4px 8px;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.filtres:hover {
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.drop-menu {
  -webkit-transition: 250ms;
  transition: 250ms;
}

.drop-menu:hover .filter {
  opacity: 1;
  visibility: visible;
}

.list-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-products li {
  line-height: 50px;
  text-align: center;
  padding-right: 5px;
}

.list-products li:first-child {
  white-space: nowrap;
}

.list-products li a {
  vertical-align: middle;
  color: #1a1a1a;
  font-weight: bold;
  font-size: 16px;
  line-height: 21.28px;
  text-transform: uppercase;
  font-family: 'Segoe UI', sans-serif;
  padding: 4px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.list-products li a:hover {
  background-color: #fecb24;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
  color: #1a1a1a;
}

.list-products li:last-child {
  display: block;
  margin-left: 20%;
  padding-top: 5px;
}

.list-products li a:last-child {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.list-products li:last-child span {
  margin: 5px 0 5px 8px;
  color: #1a1a1a;
}

.shop-link {
  background-color: #e7ce7d;
  padding: 10px 16px;
  border-radius: 4px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-link img {
  margin: 7px 0 0 12px;
}

.container {
  margin: auto;
  padding-top: 1em;
}

.container .ism-slider {
  margin-left: auto;
  margin-right: auto;
}

.ism-slider > ol,
.ism-slider > ol > li,
.ism-slider > ol > li > img {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ism-slider {
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 2;
  -webkit-animation: ism-fadein 3s;
  background-clip: padding-box;
}

@-webkit-keyframes ism-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes ism-loading {
  50% {
    left: 120px;
  }
}

.ism-slider .ism-slides {
  list-style: none;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.ism-slider li.ism-slide {
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

.ism-slider .ism-img-frame {
  display: block;
  position: absolute;
  height: 100%;
}

.ism-slider a.ism-image-link {
  position: absolute;
  color: inherit;
  text-decoration: none;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ism-slider .ism-img {
  display: block;
  border: none;
  position: absolute;
  pointer-events: none;
}

.ism-button,
.ism-pause-button {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-align: center;
  z-index: 6;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.ism-pause-button {
  display: none;
  left: 50%;
}

.ism-slider:hover .ism-pause-button {
  display: block;
}

.ism-caption {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em;
  text-shadow: none;
  line-height: 1.2em;
  padding: 0.25em 0.5em;
  width: auto;
  height: auto;
  text-align: center;
  visibility: hidden;
}

a.ism-image-link .ism-caption,
a.ism-caption {
  text-decoration: none;
  font-weight: normal;
}

a.ism-caption:hover {
  text-decoration: underline;
}

.ism-caption-0 {
  z-index: 3;
}

.ism-caption-1 {
  z-index: 4;
}

.ism-caption-2 {
  z-index: 5;
}

.ism-radios {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 1px;
}

.ism-slider .ism-radios {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 6;
  bottom: 5px;
  left: 0;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 7px;
  height: 0;
  overflow: visible;
}

.ism-slider .ism-radios.ism-radios-as-thumbnails {
  bottom: 5px;
}

.ism-radios li {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  padding: 10px 0 0 0;
}

.ism-radios input.ism-radio {
  display: none;
}

.ism-radios label {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.ism-radios-as-thumbnails label {
  background-size: 120% auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.ism-radios-as-thumbnails label:hover {
  border: 2px solid #fff;
  opacity: 1;
}

.ism-radios-as-thumbnails li.active label {
  border: 2px solid white;
  opacity: 1;
}

p.ism-badge {
  margin: 0 auto;
  text-align: right;
  font-size: 10px;
  padding-top: 1px;
  color: #ccc;
  font-family: sans-serif;
  font-weight: normal;
}

p.ism-badge a.ism-link {
  color: inherit;
  text-decoration: none;
  margin-right: 0.25em;
}

p.ism-badge a.ism-link:hover {
  color: #aaa;
  text-decoration: underline;
}

.ism-zoom-in {
  -webkit-animation: zoomin 0.81s linear 1;
  animation: zoomin 0.81s linear 1;
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translate(-1200px, 0);
    transform: translate(-1200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translate(-1200px, 0);
    transform: translate(-1200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes popin {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes popin {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.ism-zoom-pan {
  -webkit-animation: zoompan 20s linear 1;
  animation: zoompan 20s linear 1;
}

@-webkit-keyframes zoompan {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate(-5%, -5%) scale(1.3);
    transform: translate(-5%, -5%) scale(1.3);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}

@keyframes zoompan {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate(-5%, -5%) scale(1.3);
    transform: translate(-5%, -5%) scale(1.3);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}

.ism-zoom-rotate {
  -webkit-animation: zoomrotate 20s linear 1;
  animation: zoomrotate 20s linear 1;
}

@-webkit-keyframes zoomrotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
}

@keyframes zoomrotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
}

/* SLIDER */
#my-slider {
  width: 100%;
  border-radius: 20px;
}

#my-slider-ism-badge {
  width: 100%;
}

#my-slider:before {
  content: '';
  display: block;
  padding-top: 25%;
}

#my-slider .ism-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

#my-slider .ism-button {
  display: block;
  width: 80px;
  height: 80px;
  background-size: 16px 16px;
  top: 50%;
  margin-top: -16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  visibility: visible;
}

#my-slider .ism-button-prev {
  background-image: url("../img/arrow.png");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-size: 100px;
  left: 10px;
}

#my-slider .ism-button-next {
  background-image: url("../img/arrow.png");
  background-size: 100px;
  right: 10px;
}

#my-slider .ism-pause-button {
  width: 32px;
  height: 32px;
  background-size: 16px 16px;
  top: 50%;
  margin-top: -16px;
  border-radius: 16px;
  margin-left: -16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

#my-slider .ism-button-prev:hover {
  left: 7px;
}

#my-slider .ism-button-next:hover {
  right: 7px;
}

#my-slider .ism-radios {
  display: block;
  height: 40px;
  text-align: center;
}

#my-slider .ism-radios label {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #000;
  background-color: rgba(54, 54, 54, 0.5);
}

#my-slider .ism-radios li.active label {
  background-color: black;
}

#my-slider .ism-radios label:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* SLIDES */
#my-slider .ism-slide-0 .ism-img {
  background-position: center;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

#my-slider .ism-slide-1 .ism-img {
  background-position: center;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#my-slider .ism-slide-2 .ism-img {
  background-position: center;
  display: block;
  left: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* CAPTIONS */
#my-slider .ism-slide-0 .ism-caption-0.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-1.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-2.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-0.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-1.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-2.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-0.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-1.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-2.ism-caption-anim {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-0 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 10%;
  left: 5%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-0 .ism-caption-1 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 60%;
  left: 40%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-0 .ism-caption-2 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 20%;
  left: 60%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-1 .ism-caption-0 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 10%;
  left: 5%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-1 .ism-caption-1 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 60%;
  left: 40%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-1 .ism-caption-2 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 20%;
  left: 60%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-2 .ism-caption-0 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 10%;
  left: 5%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-2 .ism-caption-1 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 60%;
  left: 40%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

#my-slider .ism-slide-2 .ism-caption-2 {
  font-size: 1.25em;
  font-family: sans-serif;
  position: absolute;
  top: 20%;
  left: 60%;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-slide {
  max-width: 1200px;
}

@media screen and (max-width: 1850px) {
  .img-slide {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1750px) {
  .img-slide {
    max-width: 1050px;
  }
}

@media screen and (max-width: 1650px) {
  .img-slide {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1565px) {
  .img-slide {
    max-width: 950px;
  }
}

@media screen and (max-width: 1485px) {
  .img-slide {
    max-width: 900px;
  }
}

@media screen and (max-width: 1408px) {
  .img-slide {
    max-width: 850px;
  }
}

@media screen and (max-width: 1330px) {
  .img-slide {
    max-width: 750px;
  }
}

@media screen and (max-width: 1180px) {
  .img-slide {
    max-width: 700px;
  }
}

@media screen and (max-width: 1096px) {
  .hero-container {
    display: none !important;
  }
}

.filter {
  background: -webkit-gradient(linear, left top, right top, from(#270f0f), color-stop(#432020e5), to(#2c3064));
  background: linear-gradient(to right, #270f0f, #432020e5, #2c3064);
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 32px;
  margin-top: 18px;
  position: absolute;
  top: 31px;
  z-index: 6;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.filter-title {
  font-size: 34px;
  font-family: Segoe UI;
  margin-bottom: 24px;
  color: #fafafa;
  font-weight: 400;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-list li {
  font-size: 16px;
  padding: 2px 4px;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-right: 8px;
  line-height: 0%;
}

.filter-list li a:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0));
}

.filter-list li:first-child {
  background-color: #ff5e00;
  font-weight: bold;
  font-style: normal;
  height: 40px;
}

.filter-list li:nth-child(2) {
  background-color: #5f25e0;
  font-weight: bold;
  font-style: normal;
  height: 40px;
}

.filter-list .whitey-item:last-child {
  margin-left: 0;
}

.filter-list .whitey-item:last-child span {
  margin: 0;
}

.whitey-item {
  background-color: #ffffffa2;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 40px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.whitey-item:hover {
  background-color: #ffffffe5;
  -webkit-box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.08);
          box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.whitey-item span {
  font-family: Segoe UI;
  color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.whitey-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.hit-link,
.new-link {
  color: #fff !important;
  vertical-align: center;
  padding-top: 10px;
}

.food-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food-list li {
  background-color: #ffffffc4;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 8px;
  margin-top: 7px;
  padding-top: 8px;
  width: 100px;
  height: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 0%;
  white-space: nowrap !important;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.food-list li:hover {
  background-color: #ffffffe5;
  -webkit-box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.08);
          box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.food-list li:last-child {
  margin-left: 0;
}

.food-list li a {
  color: #1a1a1a;
  padding: 0;
  width: 100%;
  height: 100%;
}

.food-list li a:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0));
}

.food-list li img {
  display: block;
  padding: 20px 0 0 5px;
}

.food-list li:not(:last-child) {
  margin-right: 7px;
}

/* MAIN */
.card {
  padding-bottom: 93px;
}

.card-many {
  display: -ms-grid;
  display: grid;
  padding-bottom: 25px;
  -ms-grid-columns: 260px 260px 260px 260px;
      grid-template-columns: 260px 260px 260px 260px;
  margin-left: auto;
  margin-right: auto;
}

.card-info {
  border-radius: 16px;
  width: 241px;
  height: 330px;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.08));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-card {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.fish-new span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: white;
  display: inline-block;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.fish-new span:first-child {
  background-color: #ff5e0070;
  margin: 5px 0 0 65px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.fish-new span:last-child {
  background-color: #6025e065;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin: 5px 0 0 5px;
}

.portfolio-card:hover .ingridients-block {
  -webkit-transform: translateY(-36%);
          transform: translateY(-36%);
}

.thumb {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.card-block {
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.techno-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.28px;
  color: #505050;
  display: block;
}

.techno-text span {
  color: #121212;
  font-weight: bold;
  padding-top: 5px;
  display: block;
}

.techno-text,
.card-pojects,
.sale {
  margin-left: 20px;
  margin-right: 20px;
}

.card-pojects {
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  color: #1a1a1a;
  padding-top: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
}

.sale {
  text-decoration: line-through;
  margin-top: 16px;
  color: #a3a3a3;
}

.card-info__about {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  color: #a3a3a3;
}

.ingridients-block {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(2.4%);
          transform: translateY(2.4%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.vegatariants {
  background: #f3f3f3;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  margin-left: 40px;
  padding: 2px 5px;
}

.card-info:not(:last-child) {
  margin-right: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 210px;
  height: 30px;
  background-color: #f3f3f3;
  -webkit-transition: 0.4s;
  -webkit-transition: 250ms;
  transition: 250ms;
  margin: 10px 8px 0px 8px;
  padding-top: 3px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
  color: #1a1a1a;
  text-align: center;
}

.slider span {
  margin-left: 37px;
  text-align: center;
}

.slider:before {
  position: absolute;
  border-radius: 4px;
  content: '5 шт';
  height: 25px;
  width: 101px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  content: '10 шт';
}

.classic-title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  color: #f3f3f3;
  padding-bottom: 42px;
  display: block;
}

.classic-title-login {
  font-size: 22px;
  color: #f3f3f3;
  font-weight: 500;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  white-space: nowrap;
  padding-top: 20px;
}

.firstly {
  padding-top: 48px;
}

.secondary {
  padding-top: 104px;
}

@media screen and (max-width: 1070px) {
  .card-many {
    -ms-grid-columns: 260px 260px;
        grid-template-columns: 260px 260px;
  }
  .card-many li {
    margin-top: 20px;
  }
  .rolls-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  .classic-title {
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    white-space: nowrap;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.787);
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 1;
  z-index: 4;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  overflow: auto;
  display: block;
  width: 528px;
  height: 400px;
  background: rgba(255, 255, 255, 0.164);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  border-radius: 16px;
}

@media screen and (max-width: 570px) {
  .modal {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
  .classic-title-login {
    margin-top: 100px;
  }
}

.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.button-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background-color: #e7ce7d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.button-modal:hover,
.button-modal:focus {
  background-color: #fecb24;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
  cursor: pointer;
}

.backdrop-basket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.787);
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 1;
  z-index: 4;
}

.backdrop-basket.is-hidden-basket {
  opacity: 0;
  pointer-events: none;
}

.modal-basket {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  overflow: auto;
  display: block;
  width: 528px;
  height: 400px;
  background: rgba(255, 255, 255, 0.164);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  border-radius: 16px;
}

.backdrop-basket.is-hidden-basket.modal-basket {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.button-modal-basket:hover,
.button-modal-basket:focus {
  background-color: #fbff00;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
  cursor: pointer;
}

.form-title {
  padding-top: 40px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  color: #dadada;
}

.form-mailing {
  padding-left: 40px;
  padding-right: 40px;
}

.form-input input,
textarea {
  border: none;
  -webkit-transition: 250ms;
  transition: 250ms;
  background: #f3dd96;
  border-radius: 4px;
  width: 448px;
  height: 40px;
}

.form-input input:focus,
textarea:focus {
  border-color: #fecb24;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
  outline: none;
}

.backdrop-label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #dadada;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: getColor("rare-color");
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 15px;
}

.backdrop-label:focus + .contact-icon {
  fill: getColor("label-form-col");
}

.about-me-back {
  position: relative;
  padding: 11px 42px;
  width: 100%;
}

.about-me-back:focus + .contact-icon {
  fill: getColor("secondary-color");
}

.chekbox-input:checked ~ .contact-icon {
  fill: getColor("label-form-col");
}

.textarea-form textarea {
  width: 448px;
  height: 120px;
  resize: none;
}

.textarea-backdrop {
  padding: 12px 16px;
}

.textarea-backdrop::-moz-placeholder {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: getColor("textarea-back-col");
}

.contact-icon {
  left: 0;
  margin-left: 52px;
  margin-top: 10px;
  position: absolute;
  fill: #000;
}

.backdrop-button {
  height: 50px;
  min-width: 200px;
  background-color: #e7ce7d;
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 30px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-family: Segoe UI, sans-serif;
  letter-spacing: 0.06em;
  color: #1a1a1a;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.backdrop-button:hover,
.backdrop-button:focus {
  background-color: #fecb24;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
          filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
  cursor: pointer;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.container-footer {
  background: linear-gradient(93.34deg, #510c76 0%, #5f25e0 100%);
}

.menu-list li:first-child {
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
  line-height: 21px;
  padding-top: 59px;
  list-style-type: circle;
}

.menu-list li:last-child {
  padding-bottom: 58px;
}

.menu-list li:nth-child(2) {
  padding-top: 17px;
}

.menu-list li a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.menu-list li a:hover {
  color: white;
}

.menu-list-second {
  padding: 97px 80px 0 80px;
}

.menu-list-second li a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.menu-list-second li a:hover {
  color: white;
}

.menu-list-unic {
  padding: 97px 80px 0 0;
  white-space: nowrap;
}

.menu-list-unic li a {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.menu-list-unic li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.links-ico {
  padding: 57px 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-ico li:not(last-child) {
  padding-right: 16px;
}

.links-adress {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.92px;
  font-style: normal;
}

.links-adress li a {
  color: #fff;
  white-space: nowrap;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.links-adress li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.os-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
}

.os-links li:not(:last-child) {
  padding-right: 8px;
}

.under-footer {
  background: #510c76;
  height: 64px;
}

.torgov-marka li {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 13px;
}

.torgov-marka li {
  padding-top: 10px;
}

.space-center {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-center ul:nth-child(2) li {
  padding-top: 20px;
}

@media screen and (max-width: 1150px) {
  .menu-list,
  .menu-list-second {
    display: none;
  }
  .menu-section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .os-links {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 730px) {
  .os-links {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .os-links {
    display: block;
  }
  .menu-list-unic {
    padding: 30px 0 0 0;
  }
  .links-adress,
  .links-ico {
    display: none;
  }
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#b38838));
  background: linear-gradient(to top, #000000, #b38838);
  overflow-x: hidden !important;
}

* {
  font-family: Segoe UI, sans-serif;
}

img {
  display: inline-block;
}

.bug-title {
  font-size: 50px;
  text-align: center;
  padding-top: 25%;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */