@import './utilits/_normalize';
@import './utilits/utilits';
@import './components/header';
@import './components/header--nav';
@import './components/slider';
@import './components/filter';
@import './components/card-sushi';
body {
    background: rgba(218, 218, 218, 0.6);
}

* {
    font-family: Segoe UI, sans-serif;
}

img {
    display: block;
}