@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
//
//
@import './utilits/_normalize';
@import './utilits/utilits';
//
@import './components/header';
@import './components/header--nav';
//
@import './components/slider';
//
@import './components/filter';
@import './components/card-sushi';
//
@import './components/backdrop';
@import './components/form';
//
@import './components/bonus';
//
@import './components/container-footer';
//
body {
    // background: linear-gradient(to top, #000000, #c76312);
    // background: linear-gradient(to right, #f09819, #edde5d);
    overflow-x: hidden !important;
    background: linear-gradient(-45deg, #ee7752, #9337bd, #926634, #d2d523);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.classic-title,
.classic-title-login,
.classic-title__bonus {
    font-family: Segoe UI, sans-serif !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

//
* {
    font-family: Segoe UI, sans-serif;
}

//
img {
    display: inline-block;
}

//
.bug-title {
    font-size: 50px;
    text-align: center;
    padding-top: 25%;
}

.hidden {
    display: none;
}

.bottom-footer {
    margin-top: 573px;
}

//
//
.text-js {
    opacity: 0;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 300;
}

.headline {
    margin: 20px;
    color: white;
    font-size: 22px;
    text-align: center;
    h1 {
        letter-spacing: 1.6px;
        font-weight: 300;
    }
}

.cursor {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: rgb(0, 0, 0);
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.typing-center {
    margin-left: auto;
    margin-right: auto;
    width: 57%;
}