.classic-title__bonus {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fafafa;
}

.bonus-title {
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bonus-info__list {
    font-size: 20px;
    margin-bottom: 12px;
    color: #d6d6d6;
    li {
        margin-top: 5px;
    }
    li:nth-child(2) {
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
}

.accumilation-system {
    font-size: 20px;
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
}

.bonus-ceshbak {
    margin-top: 15px;
    color: #d6d6d6;
    font-size: 18px;
}

.calirification-paragraph {
    margin-top: 15px;
    font-size: 20px;
    color: #c0c0c0;
    padding-bottom: 50px;
}