.filter {
    background-color: #dfdfdfc7;
    border-radius: 16px;
    padding: 32px 48px;
    margin-top: 48px;
}

.filter-title {
    font-size: 24px;
    font-family: Segoe UI;
    margin-bottom: 24px;
}

.filter-list {
    display: flex;
}

.filter-list li {
    font-size: 16px;
    padding: 4px 8px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-right: 8px;
}

.filter-list li:first-child {
    background-color: #ff5e00;
    font-weight: bold;
    font-style: normal;
    padding: 5.5px 8px;
}

.filter-list li:nth-child(2) {
    background-color: #5f25e0;
    font-weight: bold;
    font-style: normal;
    padding: 5.5px 8px;
}

.whitey-item {
    background-color: #fff;
}

.whitey-item span {
    font-family: Segoe UI;
    vertical-align: text-top;
    text-align: center;
    color: #1a1a1a;
}

.hit-link,
.new-link {
    color: #fff;
    vertical-align: center;
}

.food-list {
    display: flex;
}

.food-list li {
    background-color: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-top: 24px;
    width: 100px;
    height: 103px;
    padding: 10px 0 0 10px;
    font-weight: 400;
    font-size: 16px;
}

.food-list li a {
    color: #1a1a1a;
}

.food-list li img {
    padding: 23px 5px 5px 35px;
}

.food-list li:not(:last-child) {
    margin-right: 16px;
}