@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.header {
    display: flex;
}

.logo-head {
    display: flex;
}

.logo-head a {
    display: flex;
    margin: 52px 64px 16px 0;
}

.logo-name {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 13px;
}

.logo-name span {
    display: block;
}

//
//
.time-send {
    margin: 59px 220px 23px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 23.94px;
}

.time-send span:first-child {
    background-color: #fecb24;
    padding: 5px;
    border-radius: 4px;
}

.time-send span:nth-child(2) {
    display: block;
}

//
//
.list-head__links {
    display: flex;
    margin-top: 71px;
}

.list-head__links li:not(:last-child) {
    margin-right: 44px;
}

.list-head__links li a {
    display: flex;
}

.links-head h4 {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #1a1a1a;
    margin-left: 8px;
}

//
//