.header-nav {
    padding: 30px 0 29px 0;
}

.list-products {
    display: flex;
    //
    li:not(:last-child) {
        margin-right: 16px;
    }
    //
    li a {
        color: #1a1a1a;
        font-weight: bold;
        font-size: 16px;
        line-height: 21.28px;
        text-transform: uppercase;
        font-family: 'Segoe UI', sans-serif;
        padding: 4px 8px;
        border-radius: 4px;
        transition: background-color 150ms;
    }
    //
    li a:hover {
        background-color: #fecb24;
    }
    //
    li:last-child {
        display: block;
        margin-left: 32%;
    }
    //
    li:last-child span {
        margin: 10px 0 13px 8px;
        color: #1a1a1a;
    }
    //
}

.shop-link {
    background-color: #fecb24;
    padding: 10px 16px;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
    width: 122px;
    display: flex;
    //
    img {
        margin: 12px 8px 18px 14px;
    }
}