.header {
    display: flex;
}

.logo-head {
    display: flex;
    //
    a {
        display: flex;
        margin: 52px 64px 16px 0;
    }
}

.logo-name {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #1a1a1a;
    margin-left: 13px;
}

.logo-name span {
    display: block;
}

//
//
.time-send {
    margin: 59px 100px 23px 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 23.94px;
    white-space: nowrap;
    //
    span:first-child {
        background-color: #fecb24;
        filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
        padding: 5px;
        border-radius: 4px;
    }
    //
    span:nth-child(2) {
        display: block;
    }
}

//
//
.list-head__links {
    display: flex;
    margin-top: 71px;
    //
    li:not(:last-child) {
        margin-right: 44px;
    }
    //
    li a {
        display: flex;
        white-space: nowrap;
        padding: 10px;
    }
    //
    h4 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: #1a1a1a;
        margin-left: 8px;
    }
}

//
.links-head {
    transition: 200ms;
}

.links-head:hover {
    background-color: #fecb24;
    filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
    border-radius: 4px;
}

@media screen and (max-width: 1370px) {
    .list-products li:last-child {
        margin-left: 30% !important;
    }
}

@media screen and (max-width: 1250px) {
    .list-products li:last-child {
        margin-left: 29% !important;
    }
}

@media screen and (max-width: 1180px) {
    .list-products li:last-child {
        margin-left: 28% !important;
    }
}

@media screen and (max-width: 1140px) {
    .list-products li:last-child {
        margin-left: 23% !important;
    }
    .time-send {
        margin-right: 100px;
    }
}

@media screen and (max-width: 1090px) {
    .list-products li:last-child {
        margin-left: 20% !important;
    }
    .header-nav {
        margin-left: 120px !important;
    }
    .filter {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 1000px) {
    .header-nav {
        margin-left: 60px !important;
    }
}

@media screen and (max-width: 940px) {
    .header-nav {
        margin-left: 30px !important;
    }
}

@media screen and (max-width: 1110px) {
    .time-send {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .filter {
        padding: 24px 24px !important;
    }
}

@media screen and (max-width: 1130px) {
    .food-list li {
        width: 100px !important;
        height: 101px !important;
    }
}

@media screen and (max-width: 1073px) {
    .food-list li img {
        padding: 15px 0 0 25px !important;
    }
    .list-head__links li:not(:last-child) {
        margin-right: 12px;
    }
    .list-head__links h4 {
        display: none;
    }
    .time-send {
        margin-right: 280px;
    }
    .classic-title {
        font-size: 40px !important;
        padding-bottom: 0 !important;
    }
    .firstly {
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 1070px) {
    .card-info:not(:last-child) {
        margin-right: 20px !important;
    }
    .card-block {
        width: 202px;
    }
    .secondary {
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 920px) {
    .time-send {
        margin-right: 180px;
    }
}

@media screen and (max-width: 820px) {
    .time-send {
        margin-right: 100px;
    }
    .list-products li:last-child {
        margin-left: 10% !important;
    }
}

.cart-link {
    display: none;
}

@media screen and (max-width: 760px) {
    .list-products li:last-child {
        margin-left: 5% !important;
    }
}

@media screen and (max-width: 735px) {
    .time-send {
        display: none;
    }
    .list-head__links {
        margin-left: 220px;
    }
    .cart-link {
        display: block;
    }
    .cart-link__display {
        display: none !important;
    }
    .list-products li:last-child {
        margin-left: 5% !important;
    }
}

@media screen and (max-width: 680px) {
    .list-head__links {
        margin-left: 200px;
    }
}

@media screen and (max-width: 651px) {
    .list-head__links {
        margin-left: 190px;
    }
}

@media screen and (max-width: 624px) {
    .list-head__links {
        margin-left: 170px;
    }
}

@media screen and (max-width: 621px) {
    .list-head__links {
        margin-left: 100px;
    }
}

@media screen and (max-width: 570px) {
    .header-nav {
        margin-left: 50px !important;
    }
    .filter-none {
        display: none !important;
    }
    .typing-center {
        width: 100% !important;
    }
    .headline {
        font-size: 22px !important;
    }
}

@media screen and (max-width: 545px) {
    .card-info:not(:last-child) {
        margin-right: 5px !important;
    }
    .list-head__links {
        margin-left: 80px;
    }
}