.header-nav {
    padding: 0;
    // padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
}

.nav-filter {
    // backdrop-filter: blur(24px);
}

.sticky {
    position: sticky;
    z-index: 3;
    top: 0;
    display: block;
    padding: 0 15px;
    backdrop-filter: blur(24px);
}

.filtres {
    background-color: #b9b9b9a6;
    border-radius: 4px;
    padding: 4px 8px;
    transition: 150ms;
}

.filtres:hover {
    background: rgba(255, 255, 255, 0);
}

.list-products {
    display: flex;
    //
    li {
        line-height: 50px;
        text-align: center;
        padding-right: 5px;
    }
    //
    li:first-child {
        white-space: nowrap;
    }
    //
    li a {
        vertical-align: middle;
        color: #1a1a1a;
        font-weight: bold;
        font-size: 16px;
        line-height: 21.28px;
        text-transform: uppercase;
        font-family: 'Segoe UI', sans-serif;
        padding: 4px 8px;
        border-radius: 4px;
        transition: background-color 150ms;
    }
    //
    li a:hover {
        background-color: #fecb24;
        filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
        color: #1a1a1a;
    }
    //
    li:last-child {
        display: block;
        margin-left: 30.5%;
        padding-top: 5px;
    }
    li a:last-child {
        transition: 200ms;
    }
    //
    li:last-child span {
        margin: 5px 0 5px 8px;
        color: #1a1a1a;
    }
    //
}

.shop-link {
    background-color: #e7ce7d;
    padding: 10px 16px;
    border-radius: 4px;
    // filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
    width: 122px;
    display: flex;
    //
    img {
        margin: 7px 0 0 12px;
    }
}