@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.header {
    display: flex;
}

.logo-head {
    display: flex;
    //
    a {
        display: flex;
        margin: 52px 64px 16px 0;
    }
}

.logo-name {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #1a1a1a;
    margin-left: 13px;
}

.logo-name span {
    display: block;
}

//
//
.time-send {
    margin: 59px 220px 23px 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 23.94px;
    //
    span:first-child {
        background-color: #fecb24;
        filter: drop-shadow(0px 2px 8px rgba(254, 203, 36, 0.48));
        padding: 5px;
        border-radius: 4px;
    }
    //
    span:nth-child(2) {
        display: block;
    }
}

//
//
.list-head__links {
    display: flex;
    margin-top: 71px;
    //
    li:not(:last-child) {
        margin-right: 44px;
    }
    //
    li a {
        display: flex;
    }
    //
    h4 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: #1a1a1a;
        margin-left: 8px;
    }
}

//
//